@use 'variables' as v;

footer{  
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(87, 168, 221);   
}

.p-f{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
    color: v.$secondary-color;
}

.lif{  
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
}

.lif a{ 
    text-decoration: none;
    color: v.$secondary-color;
    font-size:medium;
    margin: 15px;
}
